{% extends 'main.html' %}
{% load staticfiles %}
{% block index %}
    <div class="row">
        <div class="col-lg-5 about">
          <h1>О компании</h1>
          <p>Практика последних лет в строительстве и эксплуатации теплопроводов показывает, что характеристики традиционной конструкции тепло- и гидроизоляции не отвечают современным требованиям.</p>
          <p>Только нормативные потери в трубопроводах составляют до 5% от выработанного количества тепла. Сверхнормативные потери из-за увлажнения изоляции увеличивают эту цифру в 2-3 раза.</p>
          <p>В то же время весьма высока аварийность трубопроводов из-за повреждений наружной коррозией (70-75% от всех отказов), вследствие чего нормативный срок службы трубопровода реально сокращается в 1,5-2 раза.</p><a href="">Подробнее</a>
        </div>
        <div class="col-lg-5 service">
          <h2>Услуги</h2>
          <div class="row">
            <div class="col-lg-5 service__item">
              <div class="service__img-wrap"><img src={% static "img/service1.png" %}></div>
              <div class="service__name">Снятие фаски</div>
            </div>
            <div class="col-lg-5 service__item">
              <div class="service__img-wrap"><img src={% static "img/service2.png" %}></div>
              <div class="service__name">распил металла</div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-5 service__item">
              <div class="service__img-wrap"><img src={% static "img/service3.png" %}></div>
              <div class="service__name">сварочные работы</div>
            </div>
            <div class="col-lg-5 service__item">
              <div class="service__img-wrap"><img src={% static "img/service4.png" %}></div>
              <div class="service__name">плазменная резка</div>
            </div>
          </div>
        </div>
    </div>
{% endblock %}