{% extends 'main.html' %}

{% block feedback %}
    <h1>Контакты</h1>
    <div class="row">
        <div class="col-lg-5 map">
          <h2>Карта проезда</h2>
          <div class="map__wrap"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2077.009117194974!2d49.60468601560101!3d58.629011874016285!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x43fcf5f9dcfcb3ab%3A0xb140352efbf0f7a6!2z0YPQuy4g0JvRg9Cz0LDQvdGB0LrQsNGPLCA0My80Nywg0JrQuNGA0L7Qsiwg0JrQuNGA0L7QstGB0LrQsNGPINC-0LHQuy4sIDYxMDA0Nw!5e0!3m2!1sru!2sru!4v1473867978346" width="530" height="330" frameborder="0" style="border:0" allowfullscreen></iframe></div>
          <p>ООО «Региональная Снабжающая Компания»<br>610000 г. Киров ул. Луганская 47а<br>(8332) 227-230<br>227-230@rsk43.ru<br><a href="#">Карточка организации</a></p>
          <p>ООО «Контакты второй компании»<br>610000 г. Киров ул. Луганская 47а<br>(8332) 227-230<br>227-230@rsk43.ru<br><a href="#">Карточка организации</a></p>
        </div>
        <div class="col-lg-5 feedback">
          <h2>Форма обратной связи</h2>
          <form class="feedback__form">
            <div class="row">
              <div class="col-lg-10">
                <input class="feedback__text" type="text" placeholder="Как вас зовут?">
              </div>
            </div>
            <div class="row">
              <div class="col-lg-5">
                <input class="feedback__text" type="email" placeholder="Ваш e-mail">
              </div>
              <div class="col-lg-5">
                <input class="feedback__text" type="text" placeholder="Ваш телефон">
              </div>
            </div>
            <div class="row">
              <div class="col-lg-10">
                <textarea class="feedback__text" rows="6"></textarea>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-10">
                <label class="btn btn_green feedback__attach" for="id-attachment">Прикрепить файл
                  <input class="feedback__attach-hide" id="id-attachment" type="file">
                </label>
                <input class="btn btn_blue feedback__send" type="submit" value="Отправить">
              </div>
            </div>
          </form>
        </div>
    </div>
{% endblock %}