{% extends 'main.html' %}

{% block info %}
<h1>Справочная информация</h1>
    <div class="ref">
        <div class="ref__text">
          <p>Трубы и фасонные изделия стальные с тепловой изоляцией из пенополиуретана в полиэтиленовой оболочке</p>
          <div class="ref__standart">
            <p>ГОСТ 30732-2006</p>
          </div>
        </div>
        <div class="ref__link-wrap"><a class="ref__link ref__link_pdf" href="#">Скачать в PDF 150kb</a><a class="ref__link ref__link_doc" href="#">Скачать в DOC 150kb</a></div>
    </div>
    <div class="ref">
        <div class="ref__text">
          <p>Трубы и фасонные изделия стальные с тепловой изоляцией из пенополиуретана в полиэтиленовой оболочке</p>
          <div class="ref__standart">
            <p>ГОСТ 30732-2006</p>
          </div>
        </div>
        <div class="ref__link-wrap"><a class="ref__link ref__link_pdf" href="#">Скачать в PDF 150kb</a><a class="ref__link ref__link_doc" href="#">Скачать в DOC 150kb</a></div>
    </div>
    <div class="ref">
        <div class="ref__text">
          <p>Трубы и фасонные изделия стальные с тепловой изоляцией из пенополиуретана в полиэтиленовой оболочке</p>
          <div class="ref__standart">
            <p>ГОСТ 30732-2006</p>
          </div>
        </div>
        <div class="ref__link-wrap"><a class="ref__link ref__link_pdf" href="#">Скачать в PDF 150kb</a><a class="ref__link ref__link_doc" href="#">Скачать в DOC 150kb</a></div>
    </div>
    <div class="ref">
        <div class="ref__text">
          <p>Трубы и фасонные изделия стальные с тепловой изоляцией из пенополиуретана в полиэтиленовой оболочке</p>
          <div class="ref__standart">
            <p>ГОСТ 30732-2006</p>
          </div>
        </div>
        <div class="ref__link-wrap"><a class="ref__link ref__link_pdf" href="#">Скачать в PDF 150kb</a><a class="ref__link ref__link_doc" href="#">Скачать в DOC 150kb</a></div>
    </div>
    <div class="ref">
        <div class="ref__text">
          <p>Трубы и фасонные изделия стальные с тепловой изоляцией из пенополиуретана в полиэтиленовой оболочке</p>
          <div class="ref__standart">
            <p>ГОСТ 30732-2006</p>
          </div>
        </div>
        <div class="ref__link-wrap"><a class="ref__link ref__link_pdf" href="#">Скачать в PDF 150kb</a><a class="ref__link ref__link_doc" href="#">Скачать в DOC 150kb</a></div>
    </div>
    <div class="ref">
        <div class="ref__text">
          <p>Трубы и фасонные изделия стальные с тепловой изоляцией из пенополиуретана в полиэтиленовой оболочке</p>
          <div class="ref__standart">
            <p>ГОСТ 30732-2006</p>
          </div>
        </div>
        <div class="ref__link-wrap"><a class="ref__link ref__link_pdf" href="#">Скачать в PDF 150kb</a><a class="ref__link ref__link_doc" href="#">Скачать в DOC 150kb</a></div>
    </div>
    <div class="ref">
        <div class="ref__text">
          <p>Трубы и фасонные изделия стальные с тепловой изоляцией из пенополиуретана в полиэтиленовой оболочке</p>
          <div class="ref__standart">
            <p>ГОСТ 30732-2006</p>
          </div>
        </div>
        <div class="ref__link-wrap"><a class="ref__link ref__link_pdf" href="#">Скачать в PDF 150kb</a><a class="ref__link ref__link_doc" href="#">Скачать в DOC 150kb</a></div>
    </div>
    <div class="ref">
        <div class="ref__text">
          <p>Трубы и фасонные изделия стальные с тепловой изоляцией из пенополиуретана в полиэтиленовой оболочке</p>
          <div class="ref__standart">
            <p>ГОСТ 30732-2006</p>
          </div>
        </div>
        <div class="ref__link-wrap"><a class="ref__link ref__link_pdf" href="#">Скачать в PDF 150kb</a><a class="ref__link ref__link_doc" href="#">Скачать в DOC 150kb</a></div>
    </div>

{% endblock %}