{% extends 'main.html' %}
{% load staticfiles %}
{% block delivery %}
     <h1>Доставка</h1>
      <div class="row delivery">
        <div class="col-lg-5">
          <h2>Автотранспортом</h2><img src={% static "img/delievery1.png" %}>
          <p>Перевозка труб большого диаметра, независимо от материала, из которого они изготовлены, осуществляется в строгом сответствии с нормами безопасности, установленными государством, и требует оформления специальных документов, разрешающих их перевозкуи и сопровождается транспортом ДПС.</p><a href="#">Нормы закгрузки на автотранспорт</a>
        </div>
        <div class="col-lg-5">
          <h2>ЖД транспортом</h2><img src={% static "img/delievery2.png" %}>
          <p>Производится  доставка труб в пределах Российской Федерации и ближнего зарубежья, а также экспедирование труб в порт г.Новороссийск, г.Темрюк, г.Туапсе собственным парком специализированного автотранспорта и железнодорожным транспортом.</p><a href="#">Нормы закгрузки на железнодорожный транспорт</a>
        </div>
      </div>
{% endblock %}