extends base.pug
block content
    h1 Доставка
    div.row.delivery
        div.col-lg-5
            h2 Автотранспортом
            img(src='img/delievery1.png')
            p Перевозка труб большого диаметра, независимо от материала, из которого они изготовлены, осуществляется в строгом сответствии с нормами безопасности, установленными государством, и требует оформления специальных документов, разрешающих их перевозкуи и сопровождается транспортом ДПС.
            a(href='#') Нормы закгрузки на автотранспорт
        div.col-lg-5
            h2 ЖД транспортом
            img(src='img/delievery2.png')
            p Производится  доставка труб в пределах Российской Федерации и ближнего зарубежья, а также экспедирование труб в порт г.Новороссийск, г.Темрюк, г.Туапсе собственным парком специализированного автотранспорта и железнодорожным транспортом.
            a(href='#') Нормы закгрузки на железнодорожный транспорт