extends base.pug
block content
    div.row
        div.col-lg-5.about
            h1 О компании
            p Практика последних лет в строительстве и эксплуатации теплопроводов показывает, что характеристики традиционной конструкции тепло- и гидроизоляции не отвечают современным требованиям.
            p Только нормативные потери в трубопроводах составляют до 5% от выработанного количества тепла. Сверхнормативные потери из-за увлажнения изоляции увеличивают эту цифру в 2-3 раза.
            p В то же время весьма высока аварийность трубопроводов из-за повреждений наружной коррозией (70-75% от всех отказов), вследствие чего нормативный срок службы трубопровода реально сокращается в 1,5-2 раза.
            a(href='') Подробнее
        div.col-lg-5.service
            h2 Услуги
            div.row
                div.col-lg-5.service__item
                    div.service__img-wrap
                        img(src='img/service1.png')
                    div.service__name Снятие фаски
                div.col-lg-5.service__item
                    div.service__img-wrap
                        img(src='img/service2.png')
                    div.service__name распил металла
            div.row
                div.col-lg-5.service__item
                    div.service__img-wrap
                        img(src='img/service3.png')
                    div.service__name сварочные работы
                div.col-lg-5.service__item
                    div.service__img-wrap
                        img(src='img/service4.png')
                    div.service__name плазменная резка