extends base.pug
block content
    h1 Трубы в ППУ
    div.product.box
        div.product__l-col
            img(src='img/product.png')
            p В настоящее время практически все трубопроводы в наружной и подземной сети центрального отопления устанавливаются трубы изолированные предварительно нанесенным пенополиуретаном. Данная конструкция труб ППУ (система – труба в трубе) зарекомендовала себя как очень надежная и эффективная.Трубы в пенополиуретановой изоляции рассчитаны на время эксплуатации при температуре теплоносителяне более +1400С (допускается кратковременное повышение до +1500С), не менее чем 25 лет.
            p Теплогидроизолированные трубы, как правило,  применяют для надземной и безканальной подземной прокладки сетей с теплоносителем, имеющего температуру до +1500С
            table
                thead
                    tr
                        th Наружный диаметр стального перехода (d2) (мм)
                        th Наружный диаметр стального перехода (d2) (мм)
                        th Длина перехода (L), мм
                        th Масса изделия, кг
                tbody
                    - for (var i = 0; i < 10; i++)
                        tr
                            td 38
                            td 38
                            td 1500
                            td 89
        div.product__r-col
            div.product-menu
                ul.product-menu__list
                    li
                        a(href='#') ГОСТ 30732-2006
                    li
                        a(href='#') СНиП 41-03-2003
            div.product-menu
                div.product-menu__header Продукция
                ul.product-menu__list
                    -var items = ['Трубы в ППУ', 'Опоры в ППУ', 'Отводы ППУ', 'Скорлупы ППУ', 'Тройники в ППУ', 'Переходы в ППУ', 'Рядовой элемент', 'Концевой элемент', 'Металлические заглушки изоляции', 'Детекторы повреждений', 'Сильфонный компенсационный узел в ППУ'];
                        each item in items
                            li
                                a(href='#')= item
                a.btn.btn_sea.product-menu__send(href='#') Отправить заявку